* {
  margin: 0;
  padding: 0;
}

#galery_ {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.712);
  width: 100%;
  position: absolute;
}

#caixaBotaoFechar {
  height: 55px;
  display: flex;
}

#espacoBotaoFechar {
  width: 90%;
}

#close {
  height: 40px;
  width: 40px;
  align-self: center;
}

#close:hover {
  width: 45px;
  height: 45px;
}

#galery_view {
  align-self: center;
  padding:2%;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgb(8, 8, 8);
  border-radius: 4px;

}

.image_galery {
  width: 250px;
  height: 150px;
}

.image_galery:hover {
  /* width: 300px;
  height: 200px; */
  transition: 1s;
  transform: scale(2.5);
  z-index: 1;
}


body {
  font-family: 'poppins';
  color: rgb(122, 122, 122);
}

#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(0, 255, 255, 0);
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

nav a {
  font-family: 'poppins';
  text-transform: uppercase;
  margin-top: 15px;
  margin-left: 10px;
  padding: 5px;
  text-decoration: none;
  color: rgb(56, 56, 56);
}

nav a:hover {
  font-weight: bold;
}

#principal {
  display: flex;
  max-height: 100vh;
  height: 800px;
}

#content {
  margin-left: 40px;
}

#content h1 {
  margin-top: 90px;
  font-size: 40px;
  width: 100%;
}

#content p {
  font-size: 20px;
  margin-top: 30px;
  line-height: 1.4em;
  font-weight: 200;
  font-style: italic;
}

#images {
  width: 100%;
  height: 100%;
  /* background-color: rgba(141, 140, 140, 0.171); */
  display: flex;
  justify-content:flex-end ;
}

.image {
  height: 560px;
  float: left;
}

#div-coluna {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
}

#inpuEmail {
  padding: 10px 90px;
  border: 1px solid gray;
  border-radius: 40px 0 0 40px;
  font-family: 'poppins';
}

#checkEmail {
  display: none;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  padding-left: 10px;
  z-index: -1;
}

#emailConfirmation {
  font-size: 10px;
  display: none;
}

footer {
  margin-top: 80px;
  width: 100%;
  margin-left: 80px;
}

#entradas {
  display: flex;
  margin-top: 20px;
}

input{
  padding: 10px 90px;
  border: 1px solid gray;
  border-radius: 40px 0 0 40px;
  font-family: 'poppins';
}

button {
  padding: 0px 25px;
  border: transparent;
  border-radius: 0 40px 40px 0;
  font-family: 'poppins';
  background-color: rgb(80, 79, 79);
  color: white;
}

#img {
  height: 100%;
}

#home-image {
  display: grid;
  max-height: 100vh;
  max-width: 100vh;

}
