* {
  margin: 0;
  padding: 0;
}

#galery_ {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.712);
  width: 100%;
  position: absolute;
}

#caixaBotaoFechar {
  height: 55px;
  display: flex;
}

#espacoBotaoFechar {
  width: 90%;
}

#close {
  height: 40px;
  width: 40px;
  align-self: center;
}

#close:hover {
  width: 45px;
  height: 45px;
}

#galery_view {
  align-self: center;
  padding:2%;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: black;
  border-radius: 4px;
  
}

.image_galery {
  width: 250px;
  height: 150px;  
}

.image_galery:hover {
  /* width: 300px;
  height: 200px; */
  transition: 1s;
  transform: scale(2.5);
  z-index: 1;
}


body {
  font-family: sans-serif;
  color: rgb(122, 122, 122);
}

#header {
  /* display: flex; */
  width: 100%;
  background-color: rgba(0, 255, 255, 0);
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

#div-links {
  align-self: center;
}

nav img {
  margin-right: 150px;
}

nav a {
  padding: 5px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  font-weight: bold;
}

#principal {
  display: flex;
  width: 100%;
}

#content {
  display: flex;
  width: 80%;
  padding: 30px;
  flex-direction: column;
}

#content h1 {
  font-size: 40px;
  width: 100%;
}

#content p {
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.4em;
  font-weight: 200;
  font-style: italic;
}

#home-image {
  display: flex;
  height: 100%;
  width: 50%;
}

#images {
  width: 100%;
  height: 100%;
  /* background-color: rgba(141, 140, 140, 0.171); */
  display: flex;
  flex-flow: row wrap;
}

.image {
  height: 560px;
  float: left;
}

#div-coluna {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#inpuEmail {
  width: 45%;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 2px;
}

#checkEmail {
  display: none;
  width: 20px;
  opacity: 0.5;
  padding-left: 10px;
  z-index: -1;
}

#emailConfirmation {
  font-size: 10px;
  display: none;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
}

#entradas {
  display: flex;
  margin-top: 20px;
}

#img {
  height: 100%;
}

